main {
  display: flex;
  justify-content: center;
}
a {
  list-style-type: none;
  text-decoration: none;
}
.main-div {
  padding: 20px 0px 0px 0px;
}
.user-div {
  background: linear-gradient(135deg, #a041c9, #5f3b6f, #a041c9, #be14ec);
  width: 70vw;
  height: 60px;
  margin: 10px 0px 0px 0px;
  border-radius: 10px;
  display: flex;
  padding: 0px 0px 0px 20px;
  justify-content: space-between;
}
.user-div:hover {
  transform: scale(1.06);
  transition: transform 0.5s ease;
}
.div-avatar {
  width: 50px;
  height: 50px;
}
.div-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 10px white;
}
.div-left {
  align-items: center;
  display: flex;
  /* background-color: red; */
}
.div-username {
  color: white;
  font-size: 1.3rem;
  margin: 0px 0px 0px 20px;
}
.div-register-time {
  color: rgb(255, 255, 255);
}
.div-role {
  color: white;
  width: 80px;
  /* background-color: red; */
}
.line {
  width: 2px;
  background-color: rgb(0, 0, 0);
}
.div-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0px 20px 0px 0px;
}

@media screen and (max-width: 930px) {
  .div-register-time {
    display: none;
  }
}
