<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DSGBase</title>
    <link rel="stylesheet" href="../../static/Description/style.css" />
    <link rel="stylesheet" href="../../static/header.css" />
  
  </head>
  <body>
    <header>
      <div class="logo-text">
        <div class="text-position"><h1>DSGBase</h1></div>
      </div>

      <div class="location">
        <h1>Description</h1>
      </div>
      <div class="menu-toggle" onclick="toggleNav()">☰</div>
    </header>

    <div class="sideNav">
      <nav class="nav-1">
        <ul>
          <li class="nav-1-activate"><a href="/description">Description</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/">Base</a></li>
          <li><a href="/settings">Settings</a></li>
        </ul>
      </nav>
    </div>

    <main>
      <div class="div-main">
        <div class="div-overview-flex">
          <!-- Overview ბლოკები -->
         
  
          <div class="overview">
            <div class="div-overview-1">
              <h1>Overview</h1>
              <h2>5,520.01</h2>
              <span class="trend-up">▲ 1.37%</span>
              <p class="subtitle">Region population</p>
              <ul>
                <li><i class="location-icon"></i> Zugdidi <span>1,692,130</span></li>
                <li><i class="location-icon"></i> Kutaisi <span>1,120,450</span></li>
                <li><i class="location-icon"></i> Tbilisi <span>3,402,320</span></li>
                <li><i class="location-icon"></i> Batumi <span>912,770</span></li>
                <li><i class="location-icon"></i> Rustavi <span>832,190</span></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="cards-container">
          <div class="stat-card">
            <div class="card-icon money"></div>
            <p>Total Revenue</p>
            <h2>$6,101.01</h2>
            <span class="trend-up">▲ 1.37%</span>
            <div class="change green">This week +$635.00</div>
          </div>

          <div class="stat-card">
            <div class="card-icon transactions"></div>
            <p>Total Transactions</p>
            <h2>1021</h2>
            <span class="trend-down">▼ 1.37%</span>
            <div class="change red">This week +210</div>
          </div>

          <div class="stat-card">
            <div class="card-icon customer"></div>
            <p>Total Customer</p>
            <h2>914</h2>
            <span class="trend-up">▲ 1.37%</span>
            <div class="change green">This week +125</div>
          </div>

          <div class="stat-card">
            <div class="card-icon star"></div>
            <p>New Subscriptions</p>
            <h2>432</h2>
            <span class="trend-up">▲ 0.87%</span>
            <div class="change green">This week +78</div>
          </div>
        </div>
      </div>
    </main>
  <script src="../../static/header-javascript.js"></script>
  </body>
</html>
„