@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  font-style: medium;
}

:root {
  --max-black-color: #010103;
  --text-color: #b8aaaa;
  --background-color: #6a2e7a;
  --line-color: rgba(255, 255, 255, 0.219);
}

body {
  background-color: var(--max-black-color);
}

header {
  border-bottom: 0.09px solid var(--line-color);
  display: flex;
  position: fixed;
  width: 100vw;
  height: 60px;
  background-color: var(--max-black-color);
  z-index: 20;
  align-items: center;
}

.logo-text {
  color: white;
  font-size: 0.7rem;
  width: 180px;
  height: 100%;
  border-right: 0.09px solid var(--line-color);
}

.text-position {
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.location {
  color: white;
  margin: 0px 0px 0px 20px;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.menu-toggle {
  display: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  margin-left: auto;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
}

.sideNav {
  height: 100vh;
  width: 180px;
  background-color: var(--max-black-color);
  padding: 60px 0px 0px 0px;
  position: fixed;
  border-right: 0.09px solid var(--line-color);
  transition: transform 0.3s ease;
}

.navbar-text-header {
  color: rgb(177, 177, 177);
  font-size: 0.7rem;
  margin: 20px 0px 0px 15px;
}

.nav-1 {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav-1 li {
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 20px 0px 0px 0px;
  border-radius: 6px;
  border: 0.1px solid #ffffff00;
  padding: 0px 0px 0px 20px;
}

.nav-1 li:hover {
  background: linear-gradient(135deg, #2e2d2f, #5f3b6f, #a041c9, #be14ec);
}

.nav-1-activate {
  background: linear-gradient(135deg, #2e2d2f, #5f3b6f, #a041c9, #be14ec);
}

.nav-1 li img {
  height: 25px;
  margin: 0px 5px 0px 0px;
}

.nav-1 a {
  color: var(--text-color);
  text-decoration: none;
}

.nav-1 li a {
  display: block;
  width: 100%;
  padding: 12px 16px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

main {
  padding: 90px 0px 0px 180px;
  background-color: var(--max-black-color);
}

@media (max-width: 800px) {
  .menu-toggle {
    display: flex;
  }

  .sideNav {
    transform: translateX(-100%);
    height: calc(100vh - 60px);
    z-index: 10;
  }

  .sideNav.active {
    transform: translateX(0);
  }

  main {
    padding-left: 0;
  }
}
.sideNav {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
