<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DSGBase</title>
    <link rel="stylesheet" href="../static/header.css" />
    <link rel="stylesheet" href="../static/Base-css/styles.css" />
  </head>
  <body>
    <header>
      <div class="logo-text">
        <div class="text-position"><h1>DSGBase</h1></div>
      </div>
      <div class="location">
        <h1>Base</h1>
      </div>
      <div class="menu-toggle" onclick="toggleNav()">☰</div>
    </header>

    <div class="sideNav">
      <nav class="nav-1">
        <ul>
          <li><a href="/description">Description</a></li>
          <li><a href="/about">About</a></li>
          <li class="nav-1-activate"><a href="/">Base</a></li>
          <li><a href="/settings">Settings</a></li>
        </ul>
      </nav>
    </div>

    <main>
      <div class="main-div">
        <form id="searchForm">
          <div class="search-div">
            <div class="search-name">
              <input type="text" placeholder="Name" name="name" />
            </div>
            <div class="search-lastname">
              <input type="text" placeholder="Lastname" name="surname" />
            </div>
            <div class="search-id">
              <input type="text" placeholder="ID" name="id" />
            </div>
            <div class="search-region">
              <input type="text" placeholder="District" name="region" />
            </div>
            <div class="search-button">
              <button type="submit">Search</button>
            </div>
            <div class="more">
              <div
                id="statusMessage"
                class="status"
                style="display: none"
              ></div>
              <div class="user-information scroll-container">
                <div class="userinformation"></div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </main>

    <script src="../static/script.js"></script>
    <script src="../../static/header-javascript.js"></script>
  </body>
</html>
