<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}DSGBase{% endblock %}</title>
    <link
      rel="shortcut icon"
      href="../static/img/fav.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='header.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Auth-css/overlay.css') }}"
    />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <header>
      <div class="logo-text">
        <div class="text-position"><h1>DSGBase</h1></div>
      </div>
      <div class="location">
        <h1>{% block location %}{% endblock %}</h1>
      </div>
      <div class="menu-toggle" onclick="toggleNav()">☰</div>
    </header>

    <div class="sideNav">
      <nav class="nav-1">
        <ul>
          <li
            class="{% if active_page == 'description' %}nav-1-activate{% endif %}"
          >
            <a href="/description">Description</a>
          </li>
          <li class="{% if active_page == 'about' %}nav-1-activate{% endif %}">
            <a href="/about">About</a>
          </li>
          <li class="{% if active_page == 'base' %}nav-1-activate{% endif %}">
            <a href="/">Base</a>
          </li>
          <li
            class="{% if active_page == 'profile' %}nav-1-activate{% endif %}"
          >
            <a href="/profile">Profile</a>
          </li>
          {% if current_user.is_authenticated and current_user.is_admin() %}
          <li
            class="{% if active_page == 'PageUsers' %}nav-1-activate{% endif %}"
          >
            <a href="/PageUsers">Users</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>

    <main>{% block content %}{% endblock %}</main>

    {% if show_login_overlay or show_register_overlay %}
    <div id="login-overlay">
      <div class="login-form">
        <div class="login-tabs">
          <button class="tab-button active" onclick="showLogin()">Login</button>
          <button class="tab-button" onclick="showRegister()">Register</button>
        </div>

        <div
          id="login-form-wrapper"
          {%
          if
          not
          show_login_overlay
          %}style="display: none;"
          {%
          endif
          %}
        >
          {% include "Auth/login.html" %}
        </div>

        <div
          id="register-form-wrapper"
          {%
          if
          not
          show_register_overlay
          %}style="display: none;"
          {%
          endif
          %}
        >
          {% include "Auth/register.html" %}
        </div>
      </div>
    </div>
    {% endif %}
    <script src="{{ url_for('static', filename='header-javascript.js') }}"></script>
    <script>
      function showLogin() {
        document.getElementById("login-form-wrapper").style.display = "block";
        document.getElementById("register-form-wrapper").style.display = "none";
        document
          .querySelector(".tab-button:nth-child(1)")
          .classList.add("active");
        document
          .querySelector(".tab-button:nth-child(2)")
          .classList.remove("active");
      }

      function showRegister() {
        document.getElementById("login-form-wrapper").style.display = "none";
        document.getElementById("register-form-wrapper").style.display =
          "block";
        document
          .querySelector(".tab-button:nth-child(1)")
          .classList.remove("active");
        document
          .querySelector(".tab-button:nth-child(2)")
          .classList.add("active");
      }
    </script>

    {% block extra_js %}{% endblock %}
  </body>
</html>
