<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DSGBase</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="#">DSGbase</a>
      </div>
    </header>
    <main>
      <div class="main-div">
        <div class="Description">
          <div class="text">
            <p>
              This technology must be used ethically and for the right purposes.
              Accessing private data without permission, stealing information,
              or harming others through database misuse is not only wrong—it can
              lead to serious legal consequences. Our goal is to share knowledge
              for educational and ethical use only. We do not support harmful
              activities, and we do not take responsibility for how others use
              this information. Please act responsibly, follow the law, and
              respect people’s privacy. Let’s use technology to create value—not
              to cause harm. Use it wisely. The way you use data defines your
              purpose.
            </p>
          </div>
          <div class="Description-img">
            <img src="../static/src/DescriptionImages.jpg" alt="ethical" />
          </div>
        </div>

        <div class="shearch">
          <form class="search-div" id="searchForm">
            <input
              class="inputSearch"
              type="text"
              placeholder="Name"
              name="name"
            />
            <input
              class="inputSearch"
              type="text"
              placeholder="Lastname"
              name="surname"
            />
            <input class="inputSearch" type="text" placeholder="ID" name="id" />
            <input
              class="inputSearch"
              type="text"
              placeholder="District"
              name="region"
            />
            <br /><br />
            <button type="submit">Search</button>
            <div id="statusMessage" class="status" style="display:none;" ></div>
            <div class="user-information scroll-container">
              <div class="userinformation"></div>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
  <script src="../static/script.js"></script>
</html>
